//- <%- include('../partials/header') %>
//-   <h1>Questions</h1>
//-   <ul class="questions-list">
//-   <% for (let question of questions) { %>
//-     <li>
//-       <a href="/questions/<%= question.id %>">
//-         <%= question.title %>
//-       </a>
//-     </li>
//-   <% } %>
//-   </ul>
//- <%- include('../partials/footer') %>
html
  include ../partials/head.pug
  body
    h1 Products
    ul.products-list
      each product in products.length ? products : ['There are no products']
        li
          a(href='/products/'+product.id)
            p= product.title
    include ../partials/foot.pug

    
